.order-history-container {
  .cards-container{
    .order-card:not(:first-child){
      margin-top: 16px;
    }
    .order-card {
      mat-card-header {
        padding: 16px;
        justify-content: flex-end;
        mat-card-title {
          div.horizontal-container {
            > *:not(:first-child) {
              margin-left: 10px;
            }
          }
        }
      }
      mat-card-content {
        padding: 16px 16px 0 16px;
        mat-list {
          margin-bottom: 10px;
          mat-list-item:not(:last-child) {
            margin-bottom: 10px;
          }
          mat-list-item {
            height: unset;
            padding: 0;
            div[matListItemAvatar] {
              margin: 0 16px 0 0;
              width: 160px;
              height: 90px;
              img {
                width: 100%;
              }
            }
            div[matListItemTitle] {
              margin: unset
            }
            div[matListItemTitle]::before {
              display: none;
            }

            div[matListItemLine]:before{
              display: none;
            }
          }
        }
        .order-summary {
          justify-content: flex-end;
          b {
            margin-left: 5px;
          }
        }
      }
      mat-card-actions {
        justify-content: flex-end;
      }
    }
  }
}