<div class="order-history-container">
  <div class="cards-container">
    @for (order of orders; track order) {
    <mat-card class="order-card" (click)="showDetail(order)">
      <mat-card-header>
        <mat-card-title>
          <mat-chip>{{ order.status }}</mat-chip>
          <span class="order-date">{{order.createdAt | date:'hh:mm:ss dd/MM/yyyy'}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          @for (orderItem of order.orderItems; track $index) {
          <mat-list-item>
            <div matListItemAvatar class="horizontal-container"> 
              <img [src]="orderItem.productThumbnail | prefixBackendStatic" [alt]="orderItem.productName"
                class="product-image">
            </div>
            <div matListItemTitle>
              <span class="product-name">{{orderItem.productName}}</span>
            </div>
            <div matListItemLine>
              <span>{{orderItem.productCode}}</span>
            </div>
            <div matListItemLine>
              <span>{{'('+(orderItem.price | vndCurrency)+')'}} x {{orderItem.quantity}}</span>
            </div>
          </mat-list-item>
          }
        </mat-list>

        <div class="order-summary horizontal-container">
          Tổng số tiền ({{order.orderItems.length}} sản phẩm): <b>{{(order.total | vndCurrency)}}</b>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="showDetail(order)">
          Xem chi tiết
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>

  <mat-paginator *ngIf="configPagination" [length]="configPagination.totalItems" [pageIndex]="configPagination.page"
    [pageSize]="configPagination.size" [pageSizeOptions]="[10, 20, 100]" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>