<div class="language-selector vertical-container">
  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label class="horizontal-container">
      <mat-icon>language</mat-icon>
      <span i18n>Ngôn ngữ</span>
    </mat-label>
    <mat-select [(ngModel)]="currentLang" (selectionChange)="changeLanguage($event.value)">
      @for (lang of langs; track $index) {
      <mat-option [value]="lang.code">{{ lang.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>