<div class="header-container horizontal-container" #header>
    <div class="brand-name vertical-container">
        <img
            src="../../assets/logo/trademark/tu-than-name.png"
            routerLink="/homepage"
        >
    </div>

    <div class="width-space"></div>

    <div class="menu-container horizontal-container">
        <ng-container *ngFor="let menu of menusList; let i = index">
            <div class="vertical-container dropdown-container">
                <button
                    matRippleDisabled="false"
                    class="title-menu"
                    [routerLink]="menu.routerLink"
                    [ngStyle]="{ color: currentUrl === menu.routerLink ? '#ed1c24': '' }"
                    matBadge="8"
                    [matBadgeHidden]="menu.routerLink === '/cart' ? false : true"
                >
                    {{menu.title}}
                </button>
                <ng-container *ngIf="menu.child.length>0">
                    <div class="sub-menu-container">
                        <div *ngFor="let child of menu.child">
                            <button>
                                {{child.title}}
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>