button{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .mat-badge-content{
        background-color: #ed1c24;
        top: 8px !important;
        right: -5px !important;
    }
}

.header-container{
    height: 70px;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
    transition: all .45s;
    .brand-name{
        justify-content: center;
        img{
            display: block;
            width: 100px;
        }
    }

    .menu-container{
        align-items: center;
        .dropdown-container{
            .title-menu{
                height: 70px;
            }
            button{
                border: none;
                background: none;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover{
                color: #ed1c24;
            }
            .sub-menu-container{
                display: none;
                position: absolute;
                background: white;
                top: 70px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                button[mat-button]{
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .dropdown-container:hover{
            .sub-menu-container{
                display: block;
            }
        }
    }
}

.header-container-scrolled{
    background: rgb(0,0,0,.9);
    .brand-name{
        img{
            content:url("../../assets/logo/trademark/tu-than-name-white.png");
            // content:url("../assets/logo/trademark/tu-than-name-orange.png");
        }
    }
    .menu-container{
        .title-menu{
            color: white;
        }
    }
}