<div class="header-container horizontal-container" #header>
  <div class="drawer-toggle-button vertical-container">
    <button mat-icon-button (click)="toggleDrawerEmit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  @if (identification) {
  <div class="brand-name vertical-container">
    <img [src]="identification.logo.src | prefixBackendStatic" [alt]="''" [routerLink]="['']">
  </div>
  }

  <div class="cart-container vertical-container">
    <button mat-icon-button routerLink="/gio-hang" [routerLinkActive]="['is-active']">
      <mat-icon aria-hidden="false" [matBadge]="badgeCart" [matBadgeHidden]="!badgeCart">shopping_cart</mat-icon>
    </button>
  </div>

  <div class="not-mobile-container horizontal-container">

    <div class="menu-container horizontal-container">
      <div class="vertical-container dropdown-container">
        <button matRippleDisabled="false" class="title-menu" routerLink="" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{ exact: true }">
          <span i18n>Trang chủ</span>

        </button>
      </div>
      @for (menu of menusList; track menu) {
      <div class="vertical-container dropdown-container">
        <button matRippleDisabled="false" class="title-menu" [routerLink]="['/'+menu.route]"
          [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: menu.route ? false : true }">
          <span [matBadge]="badgeCart"
            [matBadgeHidden]="(menu.route === 'gio-hang' ? false : true) || !badgeCart">{{menu.name}}</span>

        </button>
        @if (menu.children && menu.children.length) {
        <div class="sub-menu-container">
          @for (child of menu.children; track $index) {
          <div>
            <button [routerLink]="[menu.route + '/' + child.route]" [routerLinkActive]="['is-active']"
              [routerLinkActiveOptions]="{ exact: false }">
              {{child.name}}
            </button>
          </div>
          }
        </div>
        }

      </div>
      }
    </div>

    <div class="horizontal-container">
      <app-lang-selector></app-lang-selector>
      <div class="user-information horizontal-container">
        <div class="user-information-block horizontal-container" routerLink="/khach-hang"
          [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: false }">
          <div class="user-information-block_icon vertical-container">
            @if (userInformation$ | async; as userInformation) {
            <img
              [src]="(userInformation && userInformation?.avatar) ? (userInformation!.avatar | prefixBackendStatic) : 'assets/avatar/default.svg'"
              [alt]="userInformation?.name" class="user-avatar">
            }@else {
            <mat-icon>person_outline</mat-icon>
            }
          </div>
          <div class="user-information-block_showListButton vertical-container">
            <div class="user-information-block_showListButton_status">
              @if(userInformation$ | async){
              <span i18n>Tài khoản</span>
              }@else {
              <span i18n>Đăng nhập/Đăng ký</span>
              }
            </div>
            <div class="user-information-block_showListButton_account horizontal-container">
              @if(userInformation$ | async; as userInformation) {
              @if(userInformation.name){
              <span>{{ userInformation.name }}</span>
              }@else {
              <span>{{ userInformation.email }}</span>
              }
              }@else {
              <span i18n>Tài khoản</span>
              }
              <mat-icon>arrow_drop_down</mat-icon>
            </div>
          </div>
        </div>

        <div class="listButton vertical-container">
          @if(userInformation$ | async) {

          <mat-list role="list">
            <div class="micro-height-space"></div>

            @for (cMenu of customerMenu; track $index; let i = $index;) {
            <mat-list-item role="listitem" [routerLink]="['/khach-hang'+'/'+cMenu.route]"
              routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: false }">
              {{ cMenu.name }}
            </mat-list-item>
            }

            <div class="height-space"></div>
            <mat-list-item role="listitem" (click)="logout()" i18n>Thoát tài khoản</mat-list-item>
            <div class="micro-height-space"></div>
          </mat-list>
          }@else {

          <div class="authentication-action-container">
            <div class="button-loginRegister loginRegister button-primary horizontal-container">
              <div class="textButton horizontal-container" (click)="authService.login('login')">
                <span i18n>Đăng nhập</span>
              </div>
            </div>

            <div class="mini-height-space"></div>

            <div class="button-loginRegister loginRegister button-primary horizontal-container">
              <div class="textButton horizontal-container" (click)="authService.login('register')">
                <span i18n>Đăng ký</span>
              </div>
            </div>

            <div class="mini-height-space"></div>

            <div class="button-loginRegister loginFacebook horizontal-container"
              (click)="socialAuthentication('facebook')">
              <div class="icon">
                <mat-icon fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
              </div>
              <div class="textButton horizontal-container">
                <span i18n>Đăng nhập bằng Facebook</span>
              </div>
            </div>

            <div class="mini-height-space"></div>

            <div class="button-loginRegister loginGoogle horizontal-container" (click)="socialAuthentication('google')">
              <div class="icon">
                <mat-icon fontSet="fab" fontIcon="fa-google"></mat-icon>
              </div>
              <div class="textButton horizontal-container">
                <span i18n>Đăng nhập bằng Google</span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>