<div class="footer-container">
    <div class="menu-container">

    </div>

    <div class="social-container">
        <div class="horizontal-container center">
            <div class="horizontal-container">
                <div class="social-networking-item horizontal-container loginFacebook">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </div>
    
                <div class="width-space"></div>
    
                <div class="social-networking-item horizontal-container loginGoogle">
                    <mat-icon svgIcon="google-plus"></mat-icon>
                </div>
    
                <div class="width-space"></div>
    
                <div class="social-networking-item horizontal-container loginZalo">
                    <mat-icon svgIcon="zalo"></mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <!-- <ng-container *ngIf="contactInformation && contactInformation.addresses && contactInformation.addresses.length>0">
            <app-maps
                *ngFor="let address of contactInformation.addresses; let i = index"
                [address]="address"
            ></app-maps>
        </ng-container> -->
    </div>
</div>