.active-menu-item {
  background: #d5d5d5;
}

.customer-container {
  padding: 15px;
  box-sizing: border-box;

  .customerMenu {
    margin-right: 16px;
    mat-list {
      background: #ededed;
  
      mat-list-item {
        padding: 0 15px;
        box-sizing: border-box;
        height: 40px;
        cursor: pointer;
      }
  
      mat-list-item:hover {
        background: #d5d5d5;
      }
    }
  }

  mat-expansion-panel {
    margin-bottom: 16px;
    mat-expansion-panel-header {
      padding: 0 16px !important;
      background: var(--bep4than-secondary-background);
      color: white;

      ::ng-deep .mat-expansion-indicator::after {
        color: white;
      }
    }
  }

  .customer-body {
    width: 100%;
  }
}

@media only screen and (max-width: 599px) {
  .customer-container {
    flex-direction: column;
    padding-top: 0;

    .customer-body {
      margin-top: 16px;
    }
  }
}


.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: var(--bep4than-secondary-background);
}
