<div class="reset-password-container vertical-container">
    <div class="frame vertical-container">
        <h1>TẠO LẠI MẬT KHẨU</h1>
        <form *ngIf="newPasswordForm" [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
            <mat-list-item>
                <div mat-line>Mật khẩu mới</div>
                <div class="width-space"></div>
                <mat-form-field>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="newPasswordForm.controls['password'].hasError('safePassword')">
                        Mật khẩu gồm 6 ký tự chữ cái, viết thường, viết hoa và số
                    </mat-error>
                </mat-form-field>
            </mat-list-item>
            <div class="height-space"></div>
            <mat-list-item>
                <div mat-line>Nhập lại mật khẩu mới</div>
                <div class="width-space"></div>
                <mat-form-field>
                    <input type="password" matInput formControlName="confirmPassword">
                    <mat-error *ngIf="newPasswordForm.controls['confirmPassword'].hasError('passwordIsNotSame')">
                        Mật khẩu chưa trùng khớp
                    </mat-error>
                </mat-form-field>
            </mat-list-item>
    
            <div class="height-space"></div>
    
            <button
                mat-button
                type="submit"
                class="button-style button-primary"
                [disabled]="newPasswordForm.invalid"
            >Đặt lại</button>
        </form>

        <div class="count-down-container" *ngIf="countDown>=0">
            <span>Sẽ tự động về trang chủ sau </span>
            <span class="second">{{ countDown }}s</span>
        </div>
    </div>
</div>