.reset-password-container{
    align-items: center;
    justify-content: center;
    min-height: 400px;
    .frame{
        align-items: center;
        background: var(--tertiary-background);
        padding: 15px;
        min-width: 400px;
        color: white;
        border-radius: 10px;
        form{
            mat-form-field{
                ::ng-deep .mat-form-field-underline{
                    background-color: white;
                }
            }

            button[mat-button][type="submit"]{
                width: 100%;
            }
        }

        .count-down-container{
            font-size: 16px;
            margin-top: 15px;
            .second{
                font-size: 24px;
                color: var(--primary-background);
            }
        }
    }
}