.close-button{
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 100%;
    background-color: #ededed;
    border: 2px solid white;
    cursor: pointer;
    animation: seconds 0s forwards;
    animation-delay: .45s;
    opacity: 0;
}
.write-rating-container{
    .product-container{
        .limit-size-container{
            width: 40px;
        }
        .product-information-container{
            max-width: calc(100% - 55px);
            font-size: 14px;
            .product-name{
                height: 26px;
            }
            .product-short-description{
                line-height: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .review-container{
        align-items: center;
        .review-heading-container{
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
        }
        .star-container{
            position: relative;
            width: fit-content;
            user-select: none;
            line-height: 1;
            mat-icon{
                cursor: pointer;
                color: orange;
                font-size: 36px;
                height: 36px;
                width: 36px;
            }
            .riple-animation{
                animation: example 5s linear infinite;
                position: absolute;
                width: 40%;
                height: 100%;
                top: 0;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 165, 0, .25));
            }
        }
    }

    form{
        .customer-information{
        }
        mat-form-field{
            textarea{
                resize: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .write-rating-container{
        form{
            .customer-information{
                flex-direction: column;
            }
        }
    }
}

@keyframes seconds {
    0% {
        opacity: 0;
        top: 0px;
        right: 0px;
    }
    100% {
        opacity: 100%;
        top: 0;
        right: 0;
    }
}

@keyframes example {
    0% { width: 0%; left: 0%; }
    10% { width: 0%; left: 0%; }
    20% { width: 0%; left: 0%; }
    30% { width: 0%; left: 0%; }
    40% { width: 20%; left: 0%; }
    50% { width: 40%; left: 0%; }
    60% { left: 60%; }
    70% { width: 0%; left: 100%; }
    80% { width: 0%; left: 100%; }
    90% { width: 0%; left: 100%; }
    100% { width: 0%; left: 100%; }
  }