mat-card {
  background-color: unset;
}

:host .gallery-card {
  gallery {
    width: 100%;
    height: fit-content;  
    ::ng-deep viewer {
      height: fit-content;
      img {
        height: fit-content
      }
    }
  }
}