<div class="privacy-policy-container">

    <h3><strong>CHÍNH SÁCH BẢO MẬT</strong></h3>
    <div class="rte">
        <p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Chính sách Bảo vệ thông tin cá
                nhân</strong></p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Nhằm đảm bảo an toàn cho website và bảo
            mật thông tin cho người tiêu dùng Chúng tôi đưa ra một số chính sách bảo mật thông tin cho khách hàng cá
            nhân và tổ chức khi mua hàng tại website: <strong>carota.vn</strong></p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Chính sách bảo mật sẽ giải thích cách
            chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng
            sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, chính
            sách bảo mật sẽ giải thích quyền lựa chọn của bạn về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của
            mình.</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Bảo vệ dữ liệu cá nhân và gây dựng được
            niềm tin cho bạn là vấn đề rất quan trọng với công ty. Vì vậy, chúng tôi sẽ dùng tên và các thông tin khác
            liên quan đến bạn tuân thủ theo nội dung của chính sách bảo mật. Chúng tôi chỉ thu thập những thông tin cần
            thiết liên quan đến giao dịch mua bán.</p>
        <ol style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em>Mục đích thu thập thông tin:</em></strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Việc thu thập dữ liệu của website:
            <strong>carota.vn</strong> sẽ giúp chúng tôi:</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Nắm bắt được các yêu cầu, mong muốn của
            khách hàng nhằm nâng cao chất lượng sản phẩm .</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Giúp khách hàng cập nhật các thông tin
            chương trình khuyến mại, giảm giá do chúng tôi tổ chức sớm nhất.</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Hỗ trợ khách hàng khi có khiếu nại, ý
            kiến một cách nhanh nhất.</p>
        <ol style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em>Phạm vi thu thập thông tin:</em></strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Họ và Tên</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Địa chỉ</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Email</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Điện thoại</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Nội dung cần liên hệ</p>
        <ol style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong>Phạm vi sử dụng thông tin:</strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Thông tin thu thập được chúng tôi sử dụng
            cho các mục đích sau:</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">
            + Giao hàng cho quý khách đã mua hàng tại
            <strong>carota.vn</strong></p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Thông báo về việc giao hàng và hỗ trợ
            cho khách hàng</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">+ Xử lý các đơn đặt hàng và cung cấp sản
            phẩm thông qua website: <strong>carota.vn</strong></p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Ngoài ra, các thông tin giao dịch gồm:
            lịch sử mua hàng, giá trị giao dịch, phương thức vận chuyển và thanh toán cũng được
            <strong>&nbsp;</strong>website:<strong> carota.vn</strong> lưu trữ nhằm giải quyết những vấn đề có thể phát
            sinh về sau.<br> Chúng tôi sẽ không chia sẻ thông tin khách hàng trừ những trường hợp cụ thể sau đây:<br> +
            Để bảo vệ <strong>carota.vn</strong> và các bên thứ ba khác: Chúng tôi chỉ đưa ra thông tin tài khoản và
            những thông tin cá nhân khác khi tin chắc rằng việc đưa những thông tin đó là phù hợp với luật pháp, bảo vệ
            quyền lợi, tài sản của người sử dụng dịch vụ, của <strong>carota.vn</strong> và các bên thứ ba khác.<br> +
            Theo yêu cầu pháp l&lrm;ý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là cần thiết và
            phù hợp nhằm tuân theo các yêu cầu pháp l&lrm;ý Nó chắc chắn không bao gồm việc bán, chia sẻ dẫn đến việc
            làm lộ thông tin cá nhân của khách hàng vì mục đích thương mại vi phạm những cam kết được đặt ra trong quy
            định Chính sách bảo mật thông tin khách hàng của chúng tôi.</p>
        <ol style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em>Thời gian lưu trữ thông tin:</em></strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Chúng tôi sẽ lưu trữ các thông tin cá nhân
            do khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi trong quá trình cung cấp sản phẩm cho khách
            hàng, cho đến khi hoàn thành mục đích thu thập, hoặc khi khách hàng có yêu cầu hủy các thông tin đã cung
            cấp.</p>
        <ol start="5" style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em>Cam kết bảo mật thông tin cá nhân khách hàng:</em></strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Công ty cam kết bảo đảm an toàn thông tin
            cho quý khách hàng khi đăng ký thông tin cá nhân với chúng tôi. Chúng tôi cam kết không trao đổi mua bán
            thông tin khách hàng vì mục đích thương mại. Mọi sự chia sẻ và sử dụng thông tin khách hàng chúng tôi cam
            kết thực hiện theo chính sách bảo mật của chúng tôi. Chúng tôi cam kết sẽ khiến quý khách cảm thấy tin tưởng
            và hài lòng về bảo mật thông tin cá nhân khi tham gia và sử dụng website của công ty</p>
        <ol start="6" style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em> </em></strong><strong><em>Những người hoặc tổ chức có thể được tiếp cận với thông
                        tin</em></strong></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Chúng tôi chỉ sử dụng thông tin khách hàng
            vào những việc hoàn toàn chính đáng, được sự đồng ý chấp thuận của khách hàng. Tuyệt đối không cung cấp
            thông tin cho một bên thứ 3 nếu không được khách hàng đồng ý. Chỉ cung cấp thông tin của khách hàng khi nó
            có lợi với khách hàng và được sự cho phép của khách hàng. Nhưng chúng tôi vẫn sẻ phải cung cấp thông tin cho
            bên thứ 3 trong một số trường hợp sau:</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">&nbsp;Được sự cho phép của khách hàng</p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">&nbsp;Theo yêu cầu của các tổ chức, cơ
            quan, chính phủ, nhà nước khi xác nhận được việc làm đó là hợp pháp và không vi phạm pháp luật nhà nước Việt
            Nam</p>
        <ol start="7" style="text-align: justify;" data-mce-style="text-align: justify;">
            <li><strong><em>Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của
                        mình</em></strong><em>.</em></li>
        </ol>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">Khách hàng có thể thực hiện các quyền trên
            bằng cách liên hệ với chúng tôi qua số điện thoại hoặc địa chỉ liên lạc được công bố trên website:<strong>
                carota.vn</strong></p>
    </div>

</div>