.customer-container{
    padding: 15px;
    box-sizing: border-box;
    .customer-menu{
        mat-list{
            mat-list-item{
                height: 24px;
            }
        }
    }
    .customer-body{

    }
}