@if (products && products.length>0) {
<div class="product-category-home-page-container vertical-container">
  <div class="flex-me">
    @for (product of products; track $index; let index = $index;) {
    <a class="product-frame" tabindex="0" (click)="showDetail(product)" (keydown.enter)="showDetail(product)">
      <div class="img-container">
        <img [src]="(product.album?.thumbnailUrl || '') | prefixBackendStatic" [alt]="product.name" loading="lazy">
      </div>
      <div class="product-info">
        <div class="text-container">
          <h3 class="heading">{{product.name}}</h3>
          <div class="product-price">
            <span class="amount-of-money">{{ product.price | vndCurrency}}</span>
          </div>
          <div class="content-p">
            {{product.shortDescription}}
          </div>
        </div>
      </div>
    </a>
    }
  </div>
</div>
}@else {
<app-skeleton></app-skeleton>
}