<div class="thanks-for-the-review-container vertical-container">
    <div class="main-container">
        <div class="icon-container horizontal-container">
            <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div class="height-space"></div>
        <div class="content-container vertical-container">
            <div class="emotion-container horizontal-container">
                <mat-icon>favorite</mat-icon>
                <div class="vertical-container">
                    <span class="heading">Chúng tôi rất biết ơn đánh giá của bạn.</span>
                    <span>Điều này sẽ giúp chúng tôi có cơ hội làm bạn hài lòng hơn vào lần tới.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container horizontal-container" (click)="dialogRef.close()">
        <span>OK</span>
    </div>
</div>