.address-container {
  mat-list {
    max-width: 900px;

    mat-list-item {
      border: 1px solid #ededed;
      border-radius: 5px;
      margin: 15px 0;
      padding: 15px;
      box-sizing: border-box;
      height: unset;

      div[matListItemLine] {
        text-wrap: auto;
      }

      div[matListItemMeta] {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0;

        .button-container {
          justify-content: flex-end;
          .default-address {
            color: var(--bep4than-hightlight-text);
          }
        }
      }

      div[matListItemMeta]::before {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .address-container {
    mat-list {
      max-width: 100%;

      mat-list-item {
        display: flex;
        flex-direction: column;

        div[matListItemTitle]::before {
          display: none !important;
        }

        div[matListItemMeta] {
          width: 100%;
          margin: 10px 0 0 0;
          flex-direction: row-reverse;
          justify-content: space-between;

          .button-container {
            button[matButton="outlined"] {
              height: 48px;
            }
          }
        }
      }
    }
  }

}