<div class="address-container">
  <section>
    <div class="group-button-row">
      <button mat-raised-button color="primary" (click)="onCreateAddress()">
        <mat-icon>add</mat-icon>
        Thêm địa chỉ giao hàng
      </button>
    </div>
  </section>

  @if (deliverys) {
  <mat-list>
    @for (delivery of deliverys; track $index; let index = $index) {
    <mat-list-item>
      <div matListItemTitle>
        <b>{{delivery.name}}</b> - {{delivery.phoneNumber}}
      </div>
      <div matListItemLine>{{delivery.addressDetail}}</div>
      <div matListItemMeta>
        <div class="button-container horizontal-container">
          <button mat-icon-button (click)="onModifyAddress(index, delivery)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onRemoveAddress(index, delivery)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="button-container horizontal-container">
          @if (delivery.isDefault) {
            <span class="default-address" color="primary">Địa chỉ mặc định</span>
          }@else {
            <button matButton="outlined" (click)="onSetDefaultAddress(index, delivery)">
              Đặt làm mặc định
            </button>
          }
        </div>
      </div>
    </mat-list-item>
    }
  </mat-list>
  }
</div>