<div class="address-container">
  <section>
  <div class="group-button-row">
    <button mat-raised-button color="primary" routerLink="/khach-hang/address-book/create">
      <mat-icon>add</mat-icon>
      Thêm sản phẩm
    </button>
  </div>
</section>

  @if ( deliverys$ | async; as deliverys) {
    <mat-list>
      @for (delivery of deliverys; track $index) {
        <mat-list-item>
          <div matListItemTitle>
            {{delivery.name}} - {{delivery.phoneNumber}}
          </div>
          <!-- <div matListItemLine>{{userInfo.de}}</div> -->
        </mat-list-item>
      }
    </mat-list>
  }
</div>