<div class="register-successful-container">
    <div class="vertical-container">
        <div class="icon-container horizontal-container">
            <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div class="content-container vertical-container">
            <div class="text">
                <h3>Đăng ký thành công</h3>
                <!-- <p>Đơn hàng {{ order.code }} đã được gửi!</p> -->
                <p>Bạn vui lòng truy cập email để kích hoạt tài khoản</p>
            </div>
        </div>
    </div>
</div>