<div #parentContainer (window:resize)="onResize()">
    <div [@animImageSlider]="counter" class="slide-container">
        <ng-container *ngFor="let product of products; let i=index">
            <div
                *ngIf="i===counter"
                class="vertical-container"
            >
                <img
                    [src]="product.imgBanner"
                    #imgBanner
                />
                <div class="content vertical-container">
                    <div class="text">
                        <h1 #txtProductName>CÁ RÔ CHIÊN</h1>
                        <h3 #txtProductReviews>Chất lượng 5 <mat-icon svgIcon='star'></mat-icon></h3>
                        <button #btnBookNow class="button-style button-primary" (click)="addToCart(product)">
                            <mat-icon>add_shopping_cart</mat-icon>
                            <span>Thêm vào giỏ</span>
                        </button>
                        
                        <button
                            #btnDetail
                            class="button-style button-substyle"
                            (click)="showDetail(product)"
                        >
                            <span>Chi tiết</span>
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

