<div #parentContainer (window:resize)="onResize()" [ngStyle]="{ 'height.px': parentContainerHeight, 'overflow': 'hidden' }">
    <div [@animImageSlider]="counter" class="slide-container">
        <ng-container *ngFor="let img of slides; let i=index">
            <div
                *ngIf="i===counter"
                class="vertical-container"
            >
                <img
                    [src]="img"
                    #imgBanner
                />
                <div class="content vertical-container">
                    <div class="text" >
                        <h1 #txtProductName>CÁ RÔ CHIÊN</h1>
                        <h3 #txtProductReviews>Chất lượng 5 <mat-icon svgIcon='star'></mat-icon></h3>
                        <button #btnBookNow (click)="bookNow()" class="button-style">Đặt ngay</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

