<div class="products-container vertical-container">
    <div class="flex-me">
        <ng-container *ngFor="let product of products; let i = index;">
            <div class="product-frame" *ngIf="href === '/homepage' ? i<3 : true">
                <img [src]="product.src" [alt]="product.name">
                <div class="product-info">
                    <h4>{{product.name}}</h4>
                    <div class="content-p">
                        {{product.description}}
                    </div>
                    <button class="button-style" (click)="bookNow(product.id)">Đặt ngay</button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="height-space"></div>
    <button *ngIf="href === '/homepage'" class="button-style" (click)="toProducts()">Xem nhiều món khác</button>
</div>