.product-container{
    .nar-bar{
        z-index: 1;
        position: sticky;
        top: 70px;
        ::ng-deep .mat-tab-nav-bar{
            .mat-tab-link-container{
                background: #ed1c24;
                .mat-tab-list{
                    .mat-tab-links{
                        .mat-tab-label-active{
                            opacity: 1;
                        }
                    }
                }
                
            }
        }
    }
}
