.product-container{
    
}

::ng-deep .mat-tab-nav-bar{
    z-index: 0;
    .mat-tab-link-container{
        background: #ed1c24;
        .mat-tab-list{
            .mat-tab-links{
                .mat-tab-label-active{
                    opacity: 1;
                }
            }
        }
        
    }
}