.product-container{
    .product-cagatory-container{
        mat-list{
            mat-list-item{
                background: var(--primary-background);
                margin-bottom: 10px;
            }
            .is-active{
                background-color: #ededed;
            }
        }
    }
}
