<div class="forgot-password-container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="checkEmail()">
        <div class="title">
            <h1>Tìm email của bạn</h1>
            <span>Nhập email khôi phục</span>
        </div>
        <div class="height-space"></div>
        <div class="input-information-container">
            <div class="vertical-container">
                <mat-form-field>
                    <mat-label>Email *</mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="height-space"></div>
        <div class="warning">
            <div *ngIf="forgotPasswordForm.controls['email'].hasError('pattern')">
                Email không đúng định dạng
            </div>
        </div>
        <div class="height-space"></div>
        <button
            mat-button
            type="submit"
            class="submit-button button-primary"
            [disabled]="forgotPasswordForm.invalid"
        >
            Thực hiện
        </button>
    </form>
</div>