<div class="rating-container horizontal-container">
  @if (ratingValueFloor) {
    <div class="star-container horizontal-container">
      @for (star of totalNumberOfStars; track $index) {
        @if(ratingValueFloor===star){
          <mat-icon>star</mat-icon>
        }@else {
          @if (ratingValueFloor>star) {
            <mat-icon>star</mat-icon>
          }@else {
            @if ((star-ratingValue); as result) {
              <mat-icon>
                {{ result<.3 ? 'star' : (result>=.3 && result<=.7) ? 'star_half' : 'star_border' }} </mat-icon>
            }
          }
        }
      }
    </div>
  }
</div>