.rating-container{
    align-items: center;
    .star-container{
        width: fit-content;
        mat-icon{
            color: orange;
        }

    }
    .rating-title{
        font-weight: 450;
    }
}