<div class="register-container">
  <form [formGroup]="registerGroup" (ngSubmit)="register()">
    <div class="title">
      <h1 i18n>Xin chào,</h1>
      <span i18n>Hãy đăng ký để chúng tôi phục vụ bạn tốt hơn</span>
    </div>
    <div class="input-information-container horizontal-container">
      <div class="vertical-container">
        <mat-form-field [ngClass]="registerGroup.controls['userName'].valid ? 'mat-form-field-done' : ''">
          <mat-label i18n>Tài khoản *</mat-label>
          <input matInput type="text" formControlName="userName" (blur)="checkExistsUserName()">
          @if (registerGroup.controls['userName'].hasError('isAlreadyExist')) {
            <mat-error i18n>Tài khoản đã tồn tại.</mat-error>
          }
        </mat-form-field>

        <mat-form-field [ngClass]="passwordValid() ? 'mat-form-field-done' : ''">
          <mat-label i18n>Mật khẩu *</mat-label>
          <input matInput [type]="!fieldTextType ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="fieldTextType = !fieldTextType">
            {{ !fieldTextType ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>

        <mat-form-field [ngClass]="passwordValid() ? 'mat-form-field-done' : ''">
          <mat-label i18n>Nhập lại mật khẩu *</mat-label>
          <input matInput [type]="!repeatFieldTextType ? 'password' : 'text'" formControlName="confirmPassword">
          <mat-icon matSuffix (click)="repeatFieldTextType = !repeatFieldTextType">
            {{ !repeatFieldTextType ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="width-space"></div>

      <div class="vertical-container">
        <mat-form-field [ngClass]="registerGroup.controls['name'].valid ? 'mat-form-field-done' : ''">
          <mat-label i18n>Tên của bạn *</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field [ngClass]="registerGroup.controls['email'].valid ? 'mat-form-field-done' : ''">
          <mat-label i18n>Email *</mat-label>
          <input matInput type="text" formControlName="email" (blur)="checkExistsEmail()">
          @if (registerGroup.controls['email'].hasError('isAlreadyExist')) {
            <mat-error i18n>Email đã tồn tại.</mat-error>
          }
        </mat-form-field>

        <mat-form-field [ngClass]="registerGroup.controls['phoneNumber'].valid ? 'mat-form-field-done' : ''">
          <mat-label i18n>Số điện thoại *</mat-label>
          <input matInput type="text" formControlName="phoneNumber">
        </mat-form-field>
      </div>
    </div>

    <div class="warning">
      <div class="caps-lock-warning" appCapsLock (capsLock)="capsOn=$event">
        @if (capsOn) {
          <span i18n>Caps Lock đang bật</span>
        }
      </div>
      @if(registerGroup.controls['userName'].hasError('containsSpecialCharacter')){
        <div>
          Tài khoản viết thường, không dấu và không được chứa ký tự đặc biệt
        </div>
      }
      @if (registerGroup.controls['password'].hasError('safePassword')) {
        <div>
          Mật khẩu gồm 6 ký tự chữ cái, viết thường, viết hoa và số
        </div>
      }
      @if (registerGroup.controls['confirmPassword'].hasError('passwordIsNotSame')) {
        <div>
          Mật khẩu chưa trùng khớp
        </div>
      }
      @if (registerGroup.controls['email'].hasError('pattern')) {
        <div>
          Email không đúng định dạng
        </div>
      }
      @if (registerGroup.controls['phoneNumber'].hasError('pattern')) {
        <div>
          Số điện thoại bao gồm 10 chữ số và bắt đầu bằng số 0
        </div>
      }
    </div>
    <div class="height-space"></div>
    <button mat-button type="submit" class="submit-button button-primary" [disabled]="registerGroup.invalid || loading">
      @if (!loading) {
        <span i18n>Đăng ký</span>

      }@else {
        <div class="horizontal-container">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
      }
    </button>
    <div class="height-space"></div>
    <div class="change-component horizontal-container">
      <div class="textLink" (click)="valueChange.emit('login')" i18n>Đăng nhập</div>
    </div>
  </form>
</div>