<div class="container">
  <div class="left-container">
    <div class="contact">
      <div class="contact__information phone-number">
        <a [href]="'tel: '+information.phoneNumber" class="contact__information">
          <mat-icon>phone</mat-icon>
          <span>{{ information.phoneNumber }}</span>
        </a>
      </div>

      <div class="contact__information">
        <a [href]="information.urlFacebook" target="_blank" class="contact__information">
          <mat-icon>facebook</mat-icon>
          <span>{{information.urlFacebook | replaceProtocolName}}</span>
        </a>
      </div>

      <div class="contact__information">
        <a [href]="information.urlZalo + information.phoneNumber" target="_blank" class="contact__information">
          <mat-icon svgIcon='zalo'></mat-icon>
          <span>{{(information.urlZalo | replaceProtocolName) + information.phoneNumber}}</span>
        </a>
      </div>
    </div>
    <div class="map-container">
      <mat-icon svgIcon='gmap'></mat-icon>
      <app-maps></app-maps>
    </div>
  </div>
  <div class="main-container">
    <app-header #appHeader></app-header>
    <router-outlet></router-outlet>
  </div>
</div>