<div class="ecommerce-container horizontal-container">
  <mat-drawer-container autosize>
    @if (breakpointDetection$ | async) {
    <mat-drawer #drawer mode="over">
      <app-drawer (toggleDrawer)="toggle($event)"></app-drawer>
    </mat-drawer>
    }

    <mat-drawer-content #drawerContent (scroll)="onScroll($event)">
      <div class="main-container">
        <app-header #appHeader (toggleDrawer)="toggle($event)"></app-header>
        <router-outlet (activate)="onActivate()"></router-outlet>
        <app-footer (toggleDrawer)="toggle($event)"></app-footer>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>