<div class="register-container">
    <form [formGroup]="registerGroup" (ngSubmit)="register()">
        <div class="title">
            <h1>Xin chào,</h1>
            <span>Mời nhập thông tin đăng ký</span>
        </div>
        <div class="height-space"></div>
        <div class="input-information-container horizontal-container">
            <div class="vertical-container">
                <mat-form-field>
                    <mat-label>Tài khoản *</mat-label>
                    <input matInput type="text" formControlName="userName">
                </mat-form-field>

                <mat-form-field
                    [ngClass]="passwordValid() ? 'mat-form-field-done' : ''"
                >
                    <mat-label>Mật khẩu *</mat-label>
                    <input
                        matInput
                        [type]="!fieldTextType ? 'password' : 'text'"
                        formControlName="password"
                    >
                    <mat-icon matSuffix (click)="fieldTextType = !fieldTextType">
                        {{ !fieldTextType ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>

                <mat-form-field
                    [ngClass]="passwordValid() ? 'mat-form-field-done' : ''"
                >
                    <mat-label>Nhập lại mật khẩu *</mat-label>
                    <input
                        matInput
                        [type]="!repeatFieldTextType ? 'password' : 'text'"
                        formControlName="confirmPassword"
                    >
                    <mat-icon matSuffix (click)="repeatFieldTextType = !repeatFieldTextType">
                        {{ !repeatFieldTextType ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="width-space"></div>

            <div class="vertical-container">
                <mat-form-field>
                    <mat-label>Tên của bạn *</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Email *</mat-label>
                    <input matInput type="text" formControlName="emailAddress">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Số điện thoại *</mat-label>
                    <input matInput type="text" formControlName="phoneNumber">
                </mat-form-field>
            </div>
        </div>

        <div class="warning">
            <div *ngIf="registerGroup.controls['userName'].hasError('containsSpecialCharacter')">
                Tài khoản viết thường, không dấu và không được chứa ký tự đặc biệt
            </div>
            <div *ngIf="registerGroup.controls['password'].hasError('safePassword')">
                Mật khẩu gồm 6 ký tự chữ cái, viết thường, viết hoa và số
            </div>
            <div *ngIf="registerGroup.controls['confirmPassword'].hasError('passwordIsNotSame')">
                Mật khẩu chưa trùng khớp
            </div>
            <div *ngIf="registerGroup.controls['emailAddress'].hasError('pattern')">
                Email không đúng định dạng
            </div>
            <div *ngIf="registerGroup.controls['phoneNumber'].hasError('pattern')">
                Số điện thoại không đúng định dạng
            </div>
        </div>
        <!-- <div class="input-phone-number">
            <input type="text" [formControl]="checkPhoneNumber" placeholder="Số điện thoại">
            <div class="phone-number-invalid">
                <span *ngIf="checkPhoneNumber.value && checkPhoneNumber.invalid">Số điện thoại chưa đúng định dạng</span>
            </div>
        </div> -->
        <div class="height-space"></div>
        <button
            type="submit"
            class="submit-button button-primary"
            [disabled]="registerGroup.invalid"
        >Đăng ký</button>
        <div class="height-space"></div>
        <div class="change-component horizontal-container">
            <div class="textLink" (click)="valueChange.emit('login')">Đăng nhập</div>
        </div>
    </form>
</div>