<div class="product-detail-container">
    <ng-container *ngIf="product && product as productNotNull">
        <div class="product-information horizontal-container">
            <div class="album-container" *ngIf="productNotNull.albumImg.length>0">
                <div class="main-img">
                    <img [src]="imgMain.src" alt="">
                    <div class="action-img horizontal-container">
                        <div class="button-container">
                            <button
                                mat-flat-button
                                (click)="setImgMainDirection('toLeft')"
                                *ngIf="imgMain.id != productNotNull.albumImg[0].id"
                            >
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                        </div>
                        <div
                            class="button-container"
                            (click)="setImgMainDirection('toRight')"
                            *ngIf="imgMain.id != productNotNull.albumImg[productNotNull.albumImg.length-1].id"
                        >
                            <button mat-flat-button>
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="height-space"></div>
                <div class="list-img horizontal-container">
                    <ng-container *ngFor="let item of productNotNull.albumImg; let i = index;">
                        <div
                            class="img-thumbnail-container horizontal-container"
                            *ngIf="item.type === 'img'"
                            id="list-item-{{i}}"
                            #elementTest
                        >
                            <img
                                [src]="item.srcThumbnail"
                                (click)="setImgMain(productNotNull.albumImg, i)"
                                [ngClass]="imgMain.id === item.id ? 'imgMain' : ''"
                            >
                            <div class="mini-width-space"></div>
                        </div>
                        
                    </ng-container>
                </div>
            </div>
            <div class="width-space"></div>
        
            <div class="product-basic-information">
                <div class="product-info">
                    <h4>{{productNotNull.name}}</h4>
                    <div class="content-p">
                        {{productNotNull.sortDescription}}
                    </div>
                    <h3 class="product-price">
                        <span>{{ productNotNull.price | currency:'VND':'symbol' | replaceSpace}}</span>
                        <span>/</span>
                        <span>{{productNotNull.unit}}</span>
                    </h3>
                    <ng-container *ngIf="!loggedIn">
                        <span class="pleaseLogin">Bạn hãy <span class="textLink">ĐĂNG NHẬP</span> để được dự báo thời gian và chi phí giao hàng</span>
                    </ng-container>
                    <div class="height-space"></div>
                    <div class="button-container horizontal-container">
                        <button class="button-style button-primary" (click)="addToCart(productNotNull)">
                            <mat-icon>add_shopping_cart</mat-icon>
                            <span>Thêm vào giỏ</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="height-space"></div>
        <div class="product-desciption">
            mô tả về sản phẩm
        </div>
    </ng-container>
</div>