.payment-confirm-container{
    margin-bottom: 15px;
    .table-cart-container{
        .customer-information{
            background: #ededed;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            .address-action{
                justify-content: space-between;
            }
            .customer-contact{
                justify-content: space-between;
                
            }
            .customer-address{
                line-height: 1.2;
            }
            .addAddress{
                height: 30px;
                border: 1px solid #333333;
                border-radius: 5px;
                cursor: pointer;
                justify-content: center;
                align-items: center;
            }
            .addAddressWarning{
                border-color: #F89406;
            }
        }

        .ahamove-shipping-fee-container{
            border-color: var(--ahamove-normal-text);
            legend{
                height: 30px;
                img{
                    border-radius: 5px;
                }
            }
            .shipping-info{
                color: var(--ahamove-normal-text);
                .estimate-time{
                    font-weight: 500;
                }
                .free-shipping-text{
                    color: #ed1c24;
                    font-weight: 500;
                }
            }
        }

        .mat-table{
            width: 100%;
            .mat-row{
                .mat-column-thumbnail{
                    padding: 5px 0;
                    min-width: 50px;
                }
                .mat-column-name{
                    padding: 0 5px;
                }
            }
        }

        .total-price-frame{
            background: #ededed;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            .discount{
                text-align: center;
                justify-content: flex-end;
                mat-icon{
                    margin-right: 5px;
                }
            }
            .provisional{
                justify-content: space-between;
            }
            .total-price{
                justify-content: space-between;
                .secondary-key{
                    color: #ed1c24;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }

        .button-style{
            min-width: 150px;
        }
    }
}

@media only screen and (max-width: 768px){
    .payment-confirm-container{
        margin-bottom: 15px;
        .table-cart-container{
            .customer-information{
                background: #ededed;
                padding: 15px;
                box-sizing: border-box;
                border-radius: 5px;
                .address-action{
                    justify-content: space-between;
                }
                .customer-contact{
                    justify-content: space-between;
                    
                }
                .customer-address{
                    line-height: 1.2;
                }
                .addAddress{
                    height: 30px;
                    border: 1px solid #333333;
                    border-radius: 5px;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                }
                .addAddressWarning{
                    border-color: #F89406;
                }
            }
            .mat-table{
                width: 100%;
                .mat-row{
                    .mat-column-thumbnail{
                        padding: 5px 0;
                        min-width: 50px;
                    }
                    .mat-column-name{
                        padding: 0 5px;
                    }
                }
            }
    
            .total-price-frame{
                background: #ededed;
                padding: 15px;
                box-sizing: border-box;
                border-radius: 5px;
                .provisional{
                    justify-content: space-between;
                }
                .total-price{
                    justify-content: space-between;
                    .secondary-key{
                        color: #ed1c24;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
    
            .button-style{
                min-width: 150px;
                width: 100%;
            }
        }
    }
}