.payment-confirm-container {
  padding: 15px 0;

  .address-card {
    background-color: #ededed;
    margin-bottom: 15px;

    mat-card-header {
      mat-card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    mat-card-content {
      .address-container {
        margin-top: 16px;

        >*:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    mat-card-actions {
      button {
        color: var(--warn);
        min-width: 100px;
      }
    }
  }

  .table-cart-container {
    table[mat-table] {
      width: 100%;

      .mat-column-price {
        text-wrap: nowrap;
      }
    }

    .total-price-frame {
      background: #ededed;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 5px;

      .discount {
        text-align: center;
        justify-content: flex-end;

        mat-icon {
          margin-right: 5px;
        }
      }

      .total-price {
        justify-content: space-between;

        .secondary-key {
          color: #ed1c24;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .button-style {
      min-width: 150px;
    }
  }

  .more-info-container {
    >*:not(:first-child) {
      margin-left: 15px;
    }

    mat-form-field {
      width: 400px;

      textarea {
        height: 100%;
        min-height: 100px;
        /* Hoặc chiều cao tối thiểu bạn muốn */
        max-height: 150px;
        /* Chiều cao tối đa */
        resize: none;
        /* Ẩn resize handle */
        overflow-y: auto;
      }
    }

    .total-price-frame {
      background: #ededed;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 5px;

      .provisional {
        justify-content: space-between;
      }

      .total-price {
        justify-content: space-between;

        .secondary-key {
          color: #ed1c24;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .button-style {
      min-width: 150px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .payment-confirm-container {
    padding: 15px;
    margin-bottom: 15px;

    .address-card {

      mat-card-content {
        .address-container {
          flex-direction: column;

          >* {
            margin: 0 !important;
          }
        }
      }

      mat-card-actions {
        justify-content: flex-end;
      }
    }

    .more-info-container {
      flex-direction: column;
      mat-form-field {
        width: 100%;
      }
      
      >*:not(:first-child){
        margin: 15px 0 0 0 !important;
      }
    }
  }
}