.header-container{
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    .brand-name{
        justify-content: center;
        img{
            display: block;
            width: 100px;
        }
    }

    .menu-container{
        justify-content: center;
        .menu{
            h3{
                margin: 0;
            }
        }
    }
}