<div class="skeleton-container vertical-container">
    <div class="flex-me">
        <ng-container *ngFor="let fakeItem of fakeArray; let i = index;">
            <div class="product-frame">
                <div class="img-thumbnail skeleton-color"></div>
                <div class="product-info">
                    <div class="product-name skeleton-color"></div>
                    <div class="product-description skeleton-color"></div>
                    <div class="button-container horizontal-container">
                        <div class="btn-add-to-cart skeleton-color">
                            <div class="icon"></div>
                            <div class="btn-name"></div>
                        </div>
                        <div class="width-space"></div>
                        <div class="btn-show-detail skeleton-color">
                            <div class="icon"></div>
                            <div class="btn-name"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>