<div class="products-container vertical-container" *ngIf="(products && products.length>0);else loadingSkeleton">
    <div class="flex-me">
        <ng-container *ngFor="let product of products; let i = index;">
            <div class="product-frame">
                <div class="img-container">
                    <img
                        [src]="product.thumbnailUrl | galleryRoute"
                        [alt]="product.name"
                        loading="lazy"
                        (click)="showDetail(product)"
                    >
                </div>
                <div class="product-info">
                    <div class="text-container" (click)="showDetail(product)">
                        <h3 class="heading">{{product.name}}</h3>
                        <div class="product-price">
                            <span class="amount-of-money">{{ product.price | currency:'VND':'symbol' | replaceSpace}}</span>
                            <span>/</span>
                            <span>{{product.unit.packagingType}}</span>
                            <span>{{ ' ' }}</span>
                            <span>{{product.unit.weightNumber}}{{product.unit.unitOfMassMeasurement}}</span>
                        </div>
                        <div class="content-p">
                            {{product.sortDescription}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="height-space"></div>
    
    <app-pagination *ngIf="configPagination" [config]="configPagination" (emitChangeIndex)="changeIndex($event)"></app-pagination>
</div>
<ng-template #loadingSkeleton>
    <app-skeleton></app-skeleton>
</ng-template>