@if (cart$ | async; as cart) {

@if (cart.cartItems.length; as cartItems) {
@if (cart.cartItems; as cartItems) {

<div class="cart-container horizontal-container">
  <div class="cart-frame">
    @for (cartItems of cartItems; track cartItems; let i = $index) {
    <div class="cart-item horizontal-container" #cartItemElement>
      <div class="product-information-container horizontal-container">
        <div class="img-container">
          <img [src]="(cartItems.product.album?.thumbnailUrl || '') | prefixBackendStatic"
            [alt]="cartItems.product.name"
            [routerLink]="['san-pham/', cartItems.product.slug]">
        </div>
      </div>
      <div class="width-space"></div>
      <div class="product-price-container horizontal-container">
        <div class="product-info horizontal-container">
          <span class="product-name-text">{{cartItems.product.name}}</span>
          <span class="price-text">
            <span>{{ cartItems.product.price | vndCurrency}}</span>
          </span>
        </div>

        <div class="price-unit-container horizontal-container">
          <app-number-input id="quantity-input" [value]="cartItems.quantity"
            (valueChange)="cartItemsQuantityChange(cartItems, $event)"></app-number-input>
            <button matIconButton color="warn">
              <mat-icon (click)="removeCartItem(cartItems, cartItemElement)">delete</mat-icon>
            </button>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    }
  </div>

  <div class="width-space"></div>
  <div class="height-space"></div>

  <div class="cart-total-price">
    <div class="cart-total-price-container vertical-container">

      <div class="total-price-frame vertical-container">
        <ng-container>
          <div class="primary-key discount horizontal-container">
            <mat-icon fontSet="fa-solid" fontIcon="fa-percent"></mat-icon>
            <span i18n>Giảm 10% đơn hàng MỘT TRIỆU ĐỒNG</span>
          </div>
          <div class="height-space"></div>
        </ng-container>

        <div class="provisional horizontal-container">
          <div class="primary-key">
            <span i18n>Tạm tính</span>
          </div>
          <div class="secondary-key">
            {{ cart.totalValue | vndCurrency }}
          </div>
        </div>

        <div class="height-space"></div>

        <div class="total-price horizontal-container">
          <div class="primary-key">
            <span i18n>Thành tiền</span>
          </div>
          <div class="secondary-key">
            {{ cart.totalValue| vndCurrency }}
          </div>
        </div>
      </div>
      <div class="height-space"></div>
      <button (click)="order()" class="button-style button-primary">
        <span i18n>Tiến hành đặt hàng</span>
      </button>
    </div>
  </div>
</div>
}
}@else {
<app-empty-cart></app-empty-cart>
}
}