<div class="login-container">
  <form [formGroup]="loginGroup" (ngSubmit)="login()">
    <div class="title">
      <h1 i18n>Xin chào,</h1>
      <span i18n>Mời đăng nhập</span>
    </div>
    <div class="height-space"></div>
    <div class="input-information-container">
      <div class="vertical-container">
        <mat-form-field>
          <mat-label i18n>Tài khoản</mat-label>
          <input matInput type="text" formControlName="userName">
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n>Mật khẩu</mat-label>
          <input matInput [type]="!fieldTextType ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix tabindex="0" (click)="fieldTextType = !fieldTextType" (keydown.enter)="fieldTextType = !fieldTextType">
            {{ !fieldTextType ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="height-space"></div>
    <button mat-button type="submit" class="submit-button button-primary" [disabled]="loginGroup.invalid">
      <span i18n>Đăng nhập</span>
    </button>
    <div class="height-space"></div>
    <div class="change-component horizontal-container">
      <a class="textLink" tabindex="0" (click)="valueChange.emit('register')"
        (keydown.enter)="valueChange.emit('register')" i18n>Đăng ký</a>
      <a class="textLink" tabindex="0" (click)="valueChange.emit('forgotPassword')"
        (keydown.enter)="valueChange.emit('forgotPassword')" i18n>Quên mật khẩu</a>
    </div>
  </form>

  <div class="login-with-social-networking-container">
    <p i18n>Hoặc đăng nhập bằng</p>
    <div class="horizontal-container center">
      <div class="horizontal-container">
        <a class="social-networking-item horizontal-container loginFacebook" tabindex="0" (click)="socialAuthentication('facebook')" (keydown.enter)="socialAuthentication('facebook')">
          <mat-icon fontSet="fab" fontIcon="fa-facebook-f"></mat-icon>
        </a>

        <div class="width-space"></div>

        <a class="social-networking-item horizontal-container loginGoogle" tabindex="0" (click)="socialAuthentication('google')" (keydown.enter)="socialAuthentication('google')">
          <mat-icon fontSet="fab" fontIcon="fa-google"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>