<div class="forgot-password-successful-container">
    <div class="vertical-container">
        <div class="icon-container horizontal-container">
            <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div class="content-container vertical-container">
            <div class="text">
                <h3>Gửi thành công email</h3>
                <!-- <p>Đơn hàng {{ order.code }} đã được gửi!</p> -->
                <p>Một thông báo vừa được gửi vào email của bạn, vui lòng kiếm tra và làm theo hướng dẫn</p>
            </div>
        </div>
    </div>
</div>