.empty-cart-container{
    min-height: 500px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    mat-icon{
        font-size: 30px;
            height: 50px;
            width: 50px;
            font-size: 50px;
    }
    .button-container{
        button[mat-button]{

        }
    }
}