@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */
.cdk-global-scrollblock{
    position: initial;
    width: initial;
    overflow: hidden;
}
html, body { 
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--normal-text);
}
div{
    line-height: 1;
}

.vertical-container{
    display: flex;
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
}

.width-space{
    width: 15px;
    min-width: 15px;
}

.height-space{
    height: 15px;
    min-height: 15px;
}

.mini-width-space{
    width: 10px;
    min-width: 10px;
}

.mini-height-space{
    height: 10px;
    min-height: 10px;
}

.micro-width-space{
    width: 5px;
    min-width: 5px;
}

.micro-height-space{
    height: 5px;
    min-height: 5px;
}

.button-style{
    outline: none;
    border: none;
    padding: 0 15px;
    height: 35px;
    border-radius: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px rgb(0 0 0 / 35%);
    cursor: pointer;
}
.button-style:active{
    box-shadow: 0px 0px rgb(0 0 0 / 35%);
    transform: translateY(2px);
}

.button-primary{
    background-color: var(--primary-background);
    color: white;
}

.button-secondary{
    background-color: var(--secondary-background);
    color: white;
}

.button-substyle{
    background-color: var(--secondary-background);
    color: white;
}

.textLink{
    font-size: 12px;
    cursor: pointer;
    color: #20417d;
}
.textLink:hover{
    text-decoration: underline;
}

.pleaseLogin{
    font-size: 12px;
}

.login-modal{
    position: relative!important;
    mat-dialog-container{
        // background: white;
        color: var(--normal-text);
    }
}
.payment-success-modal{
    min-width: 400px;
    mat-dialog-container{
        padding: 0;
    }
}

.mat-form-field-done{
    .mat-form-field-flex{
        background-color: rgb(187, 255, 181);
    }
}

mat-list{
    padding: 0 !important;
    mat-list-item{
        .mat-list-item-content{
            padding: 0 !important;
        }
    }
}

.overlay-container{
    .toast-container{
        .ngx-toastr{
            .toast-title{
                line-height: 1.5;
            }
            .toast-message{
                line-height: 1.5;
            }
        }
    }
}

.img-container{
    width: 100%;
    padding-bottom: 66.66%;
    position: relative;
    img{
        position: absolute;
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}

.primary-key{
    color: #999999;
}
.secondary-key{
    color: #333333;
}