<div class="home-container vertical-container">
  <app-slide-show></app-slide-show>

  <div class="height-space"></div>

  <div class="product-category-home-page-container">
    @for (productCategory of productCategory$ | async; track $index) {
    <div class="category-name horizontal-container" [routerLink]="['/san-pham/'+productCategory.slug]">
      <h2>{{ productCategory.name }}</h2>
      <span class="horizontal-container">
        Xem thêm<mat-icon>arrow_right</mat-icon>
      </span>
    </div>
    <app-product-category-home-page [productCategory]="productCategory"></app-product-category-home-page>
    }
  </div>
</div>