<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>Thông tin cá nhân</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    @if (personal$ | async; as userInfo) {
    <mat-list class="info-list">
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Tên hiển thị</div>
        <div matListItemLine>{{userInfo.name}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon matListItemIcon>email</mat-icon>
        <div matListItemTitle>Email</div>
        <div matListItemLine>{{userInfo.email}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon matListItemIcon>lock</mat-icon>
        <div matListItemTitle>Mật khẩu</div>
        <div matListItemMeta>
          @if (userInfo.hasPassword) {
            <button mat-button>
              <mat-icon>cached</mat-icon>
              Đổi
            </button>
          }@else {
            <button mat-button>
              <mat-icon>edit</mat-icon>
              Tạo
            </button>
          }
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon matListItemIcon>phone</mat-icon>
        <div matListItemTitle>Số điện thoại</div>
        <div matListItemLine>{{userInfo.phoneNumber || 'Chưa cập nhật'}}</div>
        <div matListItemMeta>
          <button mat-button>
            <mat-icon>edit</mat-icon>
            Đổi
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
    } @else {
    <div class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Đang tải thông tin...</p>
    </div>
    }
  </mat-card-content>

</mat-card>